.result-content{
    display: flex;
    min-height: 100vh;
    width:100%;
    background-color: #006c8e;
    background-image: url("/images/img_particle.png");
    background-size: cover;
	background-size: 70%;
    
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  

}
.result-area{
    display: flex;
    height: auto;
    width: 1200px;

    justify-content: space-around;
}
.result-area img{
    height: 400px;
    width: auto;
}
.result-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}
.result-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#003c4f ;
    color: white;
    padding: 10px;
    height:40px;
    font-size: 30px;
    border-radius: 20px;
}
.first-text{
    margin-top: 10px;
    font-family: "Pretendard-Regular", Helvetica;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 5px dotted #0090bd ;
}
.second-text{
    margin-top: 20px;
    color: white;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 15px;
}

.re-start {
    width: 100%;
    display: inline-block; /* inline 요소처럼 취급하여 필요한 만큼만 공간을 차지하게 함 */
}

.btn-re {
    margin-left: 40px;
    height: 60px;
    width: 200px;
    background: url('/images/icon/bt_play.png') no-repeat center;
    background-size: cover;
    transition: background-image 0.3s ease;
}

.btn-re:hover {
    background-image: url('/images/icon/bt_play_hover.png'); /* 호버 시 변경될 이미지 경로 */
}

.category-btn {
    padding: 25px 25px;
    background-color: #DBE4E9;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0.1, 0.1);
    transition: box-shadow 0.3s ease;
}

.result-btn {
    padding: 25px 25px;
    background-color: rgb(0, 128, 255);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0.1, 0.1);
    transition: background-color 0.3s ease;
}

.result-btn:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0.2, 0.2);
}
.category-btn.selected {
    background-color: #A5D8FF;
    color: #fff;
}